
<h1>Pokemons</h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="container">
  

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Pokemons</div>

    <!-- Table -->
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
        <thead>
          
        <tr>
          <th>
            Avatar
          </th>
          <th>
            Nombre
          </th>
          <th>
            Tipos
          </th>
          <th>
            Agregar
          </th>
          <th>
            Actions
          </th>
        </tr>
        </thead>
        <tbody>
          <% @pokemons.each do |poke| %>
            <tr>
              <td>
                <%= image_tag(poke.avatar, class: 'img-responsive pokeavatar')%>
              </td>
              <td>
                <%= poke.nombre %>
              </td>
              <td>
                <%= poke.description %>
              </td>
              <td>
                <%= link_to 'Agregar', add_pokemon_pokemon_path(poke) ,class: 'btn btn-success', method: :post, data: { confirm: "Estas seguruo que deseas agregar a #{poke.nombre} a tus pokemons?", alert: 'Ha sido agregado correctamente'} %>
              </td>
              <td>
                <% if can? :read, poke %>
                <%= link_to 'Show', poke, class: 'btn btn-primary' %> 
                <% end %>
                <% if can? :edit, poke %>
                <%= link_to 'Edit', edit_pokemon_path(poke), class: 'btn btn-info'%>
                <% end %>
                <% if can? :destroy, poke %>
                <%= link_to 'Destroy', poke, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






<% if can? :create, Pokemon %>
<%= link_to 'New Pokemon', new_pokemon_path, class: 'btn btn-primary' %> 
<% end %>













<br>
